<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sharing {{ current.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Compiled and minified CSS -->
    <link href="{{ url_for('static', filename='dist/styles.css') }}" rel="stylesheet">
</head>

<body>

    <div class="navbar-fixed">
        <nav class="nav-wrapper orange darken-3" role="navigation">
            <div class="nav-wrapper container">
                <div class="col s12">
                    {% for crumb in breadcrumbs[::-1] %}
                    <a href="/{{ crumb.relative_to(base) }}" class="breadcrumb">{{ crumb.name }}</a> 
                    {% endfor %}
                    <span class="breadcrumb">{{ current.name }}</span>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <ul class="collection">
            {% for file in files %}
            <li class="collection-item">
                {% if file.is_dir() %}
                <i class="tiny material-icons">folder</i>
                <a href="/{{ file.relative_to(base) }}">
                    <span class="directory-name">
                        {{ file.name }}
                    </span>
                </a> 
                {% else %}
                <i class="tiny material-icons">insert_drive_file</i> 
                    <span class="file-name">
                    {{ file.name }}
                    </span> 
                <a href="/{{ file.relative_to(base) }}" class="secondary-content"><i class="material-icons">assignment_returned</i></a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <script src="{{ url_for('static', filename='dist/build.js') }}"></script>

</body>

</html>